<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="iro.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Colors.js/1.2.4/colors.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://unpkg.com/vue-onsenui@2.5.1/dist/vue-onsenui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
</head>
<body>
<div id="app">
    <template id="main-page">
        <v-ons-page>
            <v-ons-toolbar>
                <div class="center"><img src="ocio.png" height="95%"></div>

            </v-ons-toolbar>

            <!-- VOLUME CARD -->
            <v-ons-card>
                <v-ons-row>
                    <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                        <v-ons-icon icon="md-volume-down"></v-ons-icon>
                    </v-ons-col>
                    <v-ons-col>

                        <v-ons-range v-on:change="sendDataPlayer()" v-model="player.volume"
                                     style="width: 100%;"></v-ons-range>

                    </v-ons-col>
                    <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                        <v-ons-icon icon="md-volume-up"></v-ons-icon>
                    </v-ons-col>
                </v-ons-row>
            </v-ons-card>

            <v-ons-speed-dial position="bottom right" direction="up"
                              :visible="spdVisible"
                              :open.sync="spdOpen"
            >
                <v-ons-fab>
                    <v-ons-icon icon="fa-cog"></v-ons-icon>
                </v-ons-fab>

                <v-ons-speed-dial-item v-for="(icon, name) in shareItems"
                                       @click="setMode(name);"
                >
                    <v-ons-icon :icon="icon"></v-ons-icon>
                </v-ons-speed-dial-item>

            </v-ons-speed-dial>
            <!-- BLUETOOTH CARD -->
            <v-ons-card v-show="this.player.mode === 'bluetooth'">
                <div class="title">
                    <v-ons-icon icon="fa-bluetooth"></v-ons-icon>
                    Playing from Bluetooth
                </div>

                {{this.player.artist}} : {{this.player.title}}

                <div class="content">
                    <div style="margin: 20px auto;">
                        <ons-row>
                            <ons-col width="40px" style="text-align: center; line-height: 31px;">
                                {{msToTime(player.currentTime)}}
                            </ons-col>
                            <ons-col>
                                <p>
                                <v-ons-progress-bar :value="parseInt((player.currentTime/player.totalTime)*100)" :value="100-parseInt((player.currentTime/player.totalTime)*100)"></v-ons-progress-bar>
                                </p>
                            </ons-col>
                            <ons-col width="40px" style="text-align: center; line-height: 31px;">
                                {{msToTime(player.totalTime)}}
                            </ons-col>
                        </ons-row>
                        <ons-row>
                            <v-ons-button modifier="large" style="margin: 6px 0" @click="playpause()">
                                <div v-if="this.player.status == 'playing'">
                                    <v-ons-icon icon="fa-pause"></v-ons-icon>
                                </div>
                                <div v-else>
                                <v-ons-icon icon="fa-play"></v-ons-icon>
                                </div>
                            </v-ons-button>
                        </ons-row>
                    </div>
                </div>

            </v-ons-card>

            <!-- BLUETOOTH CARD -->
            <v-ons-card v-show="this.player.mode === 'youtube'">
                <div class="title">
                    <v-ons-icon icon="fa-youtube"></v-ons-icon>
                    In Progress
                </div>

            </v-ons-card>

            <v-ons-card>
                <div class="title">LED Control</div>
                <center>

                    <label class="center" for="switch1">
                        {{ player.LEDon ? 'On' : 'Off' }}
                    </label>
                    <v-ons-switch input-id="switch1"
                                  v-model="player.LEDon" @click="sendDataPlayer()"
                    >
                    </v-ons-switch>
                    <div id="color-picker-container"></div>


                </center>
            </v-ons-card>


        </v-ons-page>
    </template>

</div>
</body>
<script src="vuescript.js"></script>
</html>
