<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="lodash.min.js"></script>
    <script src="iro.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Colors.js/1.2.4/colors.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://unpkg.com/vue-onsenui@2.5.1/dist/vue-onsenui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <script src="vue-color.js"></script>

</head>
<body>
<div id="app">
    <template id="main-page">
        <v-ons-page>
            <v-ons-toolbar>
                <div class="center"><img src="ocio.png" height="95%"></div>

            </v-ons-toolbar>

            <!-- VOLUME CARD -->
            <v-ons-card>
                <v-ons-row>
                    <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                        <v-ons-icon icon="md-volume-down"></v-ons-icon>
                    </v-ons-col>
                    <v-ons-col>

                        <v-ons-range v-on:change="sendDataPlayer()" v-model="player.volume"
                                     style="width: 100%;"></v-ons-range>

                    </v-ons-col>
                    <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                        <v-ons-icon icon="md-volume-up"></v-ons-icon>
                    </v-ons-col>
                </v-ons-row>
            </v-ons-card>

            <v-ons-speed-dial position="bottom right" direction="up"
                              :visible="spdVisible"
                              :open.sync="spdOpen"
            >
                <v-ons-fab>
                    <v-ons-icon icon="fa-cog"></v-ons-icon>
                </v-ons-fab>

                <v-ons-speed-dial-item v-for="(icon, name) in shareItems"
                                       @click="setMode(name);"
                >
                    <v-ons-icon :icon="icon"></v-ons-icon>
                </v-ons-speed-dial-item>

            </v-ons-speed-dial>
            <!-- BLUETOOTH CARD -->
            <v-ons-card v-show="this.player.mode === 'bluetooth'">
                <div class="title">
                    <v-ons-icon icon="fa-bluetooth"></v-ons-icon>
                    Playing from Bluetooth
                </div>

                {{this.player.artist}} : {{this.player.title}}

                <div class="content">
                    <div style="margin: 20px auto;">
                        <ons-row>
                            <ons-col width="40px" style="text-align: center; line-height: 31px;">
                                {{msToTime(player.currentTime)}}
                            </ons-col>
                            <ons-col>
                                <p>
                                <v-ons-progress-bar :value="parseInt((player.currentTime/player.totalTime)*100)" :value="100-parseInt((player.currentTime/player.totalTime)*100)"></v-ons-progress-bar>
                                </p>
                            </ons-col>
                            <ons-col width="40px" style="text-align: center; line-height: 31px;">
                                {{msToTime(player.totalTime)}}
                            </ons-col>
                        </ons-row>
                        <ons-row>
                            <v-ons-button modifier="large" style="margin: 6px 0" @click="playpause()">
                                <div v-if="this.player.status == 'playing'">
                                    <v-ons-icon icon="fa-pause"></v-ons-icon>
                                </div>
                                <div v-else>
                                <v-ons-icon icon="fa-play"></v-ons-icon>
                                </div>
                            </v-ons-button>
                        </ons-row>
                    </div>
                </div>

            </v-ons-card>

            <!-- BLUETOOTH CARD -->
            <v-ons-card v-show="this.player.mode === 'youtube'">
                <div class="title">
                    <v-ons-icon icon="fa-youtube"></v-ons-icon>
                    In Progress
                </div>

            </v-ons-card>

            <!-- LED CARD-->
            <v-ons-card>
                <div class="title">LED Control</div>
                <center>

                    <label class="center" for="switch1">
                        {{ player.LEDon ? 'On' : 'Off' }}
                    </label>
                    <v-ons-switch input-id="switch1"
                                  v-model="player.LEDon" @click="sendDataPlayer()"
                    >
                    </v-ons-switch>

                    <picker v-model="LED" @input="sendDataLEDDebounced()"/>
                </center>
            </v-ons-card>

            <v-ons-card>
                <div class="title">LED Control</div>
                <center>

                    <label class="center" for="switch1">
                        {{ player.LEDon ? 'On' : 'Off' }}
                    </label>
                    <v-ons-switch input-id="switch1"
                                  v-model="player.LEDon" @click="sendDataPlayer()"
                    >
                    </v-ons-switch>
                    <div id="color-picker-container"></div>


                </center>
            </v-ons-card>


        </v-ons-page>
    </template>

</div>

<script>
    var host = 'http://130.89.140.89:8000'

    var ColorPicker = new iro.ColorPicker("#color-picker-container", {
        width: 320,
        height: 320,
        color: {r: 255, g: 0, b: 0, a: 0},
        markerRadius: 8,
        padding: 4,
        sliderMargin: 24,
        sliderHeight: 36,
        borderWidth: 2,
        borderColor: "#fff",
        anticlockwise: true,
    });

    ColorPicker.on("mount", function (color) {
        ColorPicker.color.rgb = vm.getColor();
    });

    ColorPicker.on("input:end", function (color) {
        vm.setColor(color.rgb);
    });

    var vm = new Vue({
        el: '#app',
        template: '#main-page',
        components: {
            'picker': VueColor.Chrome
        },
        data: {
            'player': {
                'mode' : 'bluetooth',
                'status': 'No Status',
                'volume': 0,
                'artist': 'No Data',
                'title': 'No Data',
                'albumCover': 'http://i0.kym-cdn.com/entries/icons/facebook/000/007/333/276751_119503071478225_2986698_n.jpg',
                'totalTime': '99:99',
                'currentTime': '00:00',
                'elapsedTime': 0,
                'LEDon': true
            },
            'LED': {
                rgba: {r: 255, g: 255, b: 255}
            },
            spdVisible: true,
            spdOpen: false,
            shareItems: {
                'bluetooth': 'fa-bluetooth',
                'youtube': 'fa-youtube',
            }
        }
        ,

        created: function () {
            this.fetchData();
        },

        methods: {
            fetchData: function () {
                this.$http.get(host + '/player')
                    .then(response => {
                    this.player = response.body[0]

            })
                ;
                this.$http.get(host + '/led')
                    .then(response => {
                    this.LED.rgba = response.body[0]

            })
                ;
            },

            getColor: function () {
                return this.LED.rgba;
            },

            setColor: function(rgb) {
                this.LED.rgba = rgb;
            }

            sendDataPlayer: function () {
                this.$http.post(host + '/player', this.player)
            },

            sendDataLED: function () {
                this.$http.post(host + '/led', this.LED.rgba)
            },

            sendDataLEDDebounced: _.debounce(function () {
                this.$http.post(host + '/led', this.LED.rgba)

            }, 100),

            setMode: function (Name) {
                this.player.mode = Name;
                this.sendDataPlayer();
            },

            msToTime: function (duration) {
                var milliseconds = parseInt((duration % 1000) / 100)
                    , seconds = parseInt((duration / 1000) % 60)
                    , minutes = parseInt((duration / (1000 * 60)) % 60)
                    , hours = parseInt((duration / (1000 * 60 * 60)) % 24);

                minutes = (minutes < 10) ? "0" + minutes : minutes;
                seconds = (seconds < 10) ? "0" + seconds : seconds;

                return minutes + ":" + seconds;
            },

            playpause: function(){
                if(this.player.status == 'playing'){
                    this.$http.get(host + '/player/pause')
                    this.fetchData()
                }else{
                    this.$http.get(host + '/player/play')
                    this.fetchData()
                }
            }


        },

        mounted: function () {
            this.fetchData();

            setInterval(function () {
                this.fetchData();
            }.bind(this), 1000);
        }
    });

    function msToTime(duration) {
        var milliseconds = parseInt((duration%1000)/100)
            , seconds = parseInt((duration/1000)%60)
            , minutes = parseInt((duration/(1000*60))%60)
            , hours = parseInt((duration/(1000*60*60))%24);

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

        return hours + ":" + minutes + ":" + seconds + "." + milliseconds;
    }

</script>
</body>
</html>
